<!-- Navigation Organism -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <span class="me-2">📊</span>
      <%= brandName || 'ECharts App' %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% navItems.forEach(item => { %>
          <li class="nav-item">
            <%- include('../atoms/nav-link', { 
              href: item.href,
              text: item.text,
              icon: item.icon,
              isActive: item.isActive
            }) %>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
</nav>